<filepath="dialogIcon_015.png" id="dialogIcon_015" colfmt=6 />
<filepath="dialogIcon_016.png" id="dialogIcon_016" colfmt=6 />
<filepath="dialogIcon_017.png" id="dialogIcon_017" colfmt=6 />
<filepath="dialogIcon_018.png" id="dialogIcon_018" colfmt=6 />