<filepath="dialogIcon_015.png" id="dialogIcon_015"/>
<filepath="dialogIcon_016.png" id="dialogIcon_016"/>
<filepath="dialogIcon_017.png" id="dialogIcon_017" />
<filepath="dialogIcon_018.png" id="dialogIcon_018" />   